h1 {
  color: purple;
  border: 2px dashed orange;
}

li {
  color: green;
}
body {
  font-size: larger;
  background-image: url("image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
